<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Predefined Global Functions:</title>
    </head>
    <body>
        <ul>
            <li>{{index . 0}}</li>
            <li>{{index . 1}}</li>
            <li>{{index . 2}}</li>
        </ul>
    </body>
</html>