<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Nested Templates:</title>
    </head>
    <body>
        <h1>The answer to life is {{.}}</h1>
        <p>{{template "example" .}}</p>
    </body>
</html>