<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Hometown:</title>
    </head>
    <body>
        <ul>
            <li>Double: {{. | fdbl}}</li>
            <li>Square: {{. | fsq}}</li>
            <li>Double of Square of Square Root: {{. | fdbl | fsq | fsqrt}}</li>
        </ul>
    </body>
</html>