<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Hometown:</title>
    </head>
    <body>
        <ul>
            <li>{{.City}}, {{.State}}</li>
        </ul>
    </body>
</html>