<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Hometown:</title>
    </head>
    <body>
        <ul>
            <li>Without date formatting: {{.}}</li>
            <li>With date formatting: {{fdateMDY .}}</li>
        </ul>
    </body>
</html>