<!DOCTYPE HTML>
<html lang="en>
    <head>
    <meta charset="UTF-8">
        title>Hello World Again!</title>
    </head>
    <body>
        {{$name := .}}
        <h1>My name is: {{$name}}</h1>
    </body>
</html>